/*This file contains the css code to make 
the webpage reactive to different browser window sizes */

@media only screen and (max-width: 700px) and (hover: hover)  {
    #skills > img, #about_me > img {
      display: none;
    }

    #welcome_screen {
        height: 500px;
    }

    #about_me, #skills {
        height: unset;
        min-height: unset;
    }

    #faq {
        height: unset;
    }

    #menu div {
        font-size: 35px;
    }

    #my_name {
        font-size: 50px;
    }

    #page_title {
        font-size: 35px;
    }

    #menu {
        width: 75%;
        max-width: 300px;
        margin-top: 60px;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }

    .section_p:last-of-type {
        margin: 0 5% 5% 5%;
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 32px;
        margin: 5%
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 18px;
    }

    #skills ul {
        margin-right: 5%;
    }
    
    #skills li {
        height: 75px;
    }

    .social_media {
        font-size: 40px !important;
    }
}

@media only screen and (min-width: 701px)  and (max-width: 949px) and (hover: hover) {
    #skills > img, #about_me > img {
      display: none;
    }

    #welcome_screen {
        height: 500px;
    }

    #about_me, #skills {
        height: unset;
        min-height: unset;
    }

    #faq {
        height: unset;
    }

    #menu div {
        font-size: 35px;
    }

    #my_name {
        font-size: 50px;
    }

    #page_title {
        font-size: 35px;
    }

    #menu {
        width: 75%;
        max-width: 300px;
        margin-top: 60px;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }

    .section_p:last-of-type {
        margin: 0 5% 5% 5%;
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 38px;
        margin: 5%
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 20px;
    }

    #skills ul {
        margin-right: 5%;
    }
    
    #skills li {
        height: 75px;
    }

    .social_media {
        font-size: 40px !important;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1400px) and (hover: hover)  {
    #skills > img, #about_me > img {
      display: none;
    }

    #about_me, #skills {
        height: unset;
        min-height: unset;
    }

    #faq {
        height: unset;
    }

    #menu {
        width: 500px;
    }

    #menu div {
        font-size: 35px;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }

    .section_p:last-of-type {
        margin-bottom: 2.5%;
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 42px;
        margin: 2.5% 0 
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 22px;
    }

    #skills ul {
        margin-right: 5%;
    }
    
    #skills li {
        height: 85px;
    }
}