/*This file contains the css code to make 
the webpage reactive to different screen sizes 
for mobile devices in portrait mode */

@media only screen and (max-width: 300px) 
and (orientation: portrait) 
and (hover: none) {
    #skills > img, #about_me > img {
      display: none;
    }

    body, #welcome_screen {
        min-width: unset;
    }

    #about_me, #skills {
        height: 50vh;
        min-height: unset;
        height: unset;
        border: unset
    }

    #menu div:hover {
        background-color: var(--theme_color_transparent);
        transition: unset;
    }

    #my_name {
        font-size: 10vw;
        margin-top: 12.5%;
    }

    #page_title {
        font-size: 9vw;
    }

    #menu {
        font-size: 8vw;
        width: 75%;
        margin-top: 27.5%;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }

    .section_p:last-of-type {
        margin-bottom: 2.5%;
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 6vw;
        margin: 5%
    }
   
    #hobbies, .section_p,
    #faq_list p, #faq_list h2 {
        font-size: 3.75vw;
    }
    
    #skills li {
        height: 6.5vh;
    }

    #faq_list h2 {
        padding: 15px 30px 0 10px;
    }

    .social_media {
        font-size: 35px !important;
    }

    .fa_custom {
        margin-right: 1%;
    }
}

@media only screen and (min-width: 301px) 
and (orientation: portrait) 
and (hover: none) {
    #skills > img, #about_me > img {
      display: none;
    }

    #about_me, #skills, #faq {
        min-height: unset;
        height: unset;
        border: unset;
    }

    #menu div:hover {
        background-color: var(--theme_color_transparent);
        transition: unset;
    }

    #my_name {
        font-size: 10vw;
        margin-top: 12.5%;
    }

    #page_title {
        font-size: 9vw;
    }

    #menu {
        font-size: 8vw;
        width: 75%;
        margin-top: 27.5%;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }

    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 6vw;
        margin: 5%
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 12px;
    }
    
    #skills li {
        height: 7.5vh;
    }

    .social_media {
        font-size: 40px !important;
    }
}

@media only screen and (min-width: 376px) 
and (orientation: portrait) 
and (hover: none) {
    #skills > img, #about_me > img {
      display: none;
    }

    #about_me, #skills, #faq {
        min-height: unset;
    }

    #menu div:hover {
        background-color: var(--theme_color_transparent);
        transition: unset;
    }
    #my_name {
        font-size: 10vw;
        margin-top: 20%;
    }

    #page_title {
        font-size: 9vw;
    }

    #menu {
        font-size: 8vw;
        width: 75%;
        margin-top: 35%;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 6vw;
        margin: 5%
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 12px;
    }
    
    #faq_list h2 {
        padding: 15px 25px 0 15px;
    }
    
    #skills li {
        height: 7.25vh;
    }
}

@media only screen and (min-width: 500px) 
and (orientation: portrait) 
and (hover: none) {
    #skills > img, #about_me > img {
      display: none;
    }

    #about_me, #skills {
        min-height: unset;
    }

    #menu div:hover {
        background-color: var(--theme_color_transparent);
        transition: unset;
    }

    #my_name {
        font-size: 10vw;
        margin-top: 12.5%;
    }

    #page_title {
        font-size: 9vw;
    }

    #menu {
        font-size: 5vw;
        width: 50%;
        margin-top: 15%;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 26px;
        margin: 5%
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 2.5vw;
    }

    #skills li {
        height: 8vh;
    }
    .social_media {
        font-size: 40px !important;
    }
}

@media only screen and (min-width: 650px) 
and (orientation: portrait) 
and (hover: none) {
    #skills > img, #about_me > img {
      display: none;
    }

    #about_me, #skills {
        min-height: unset;
    }

    #welcome_screen  {
        max-height: unset;
    }

    #menu div:hover {
        background-color: var(--theme_color_transparent);
        transition: unset;
    }
    #my_name {
        font-size: 10vw;
        margin-top: 12.5%;
    }

    #page_title {
        font-size: 9vw;
    }

    #menu {
        font-size: 4.5vw;
        width: 50%;
        margin-top: 15%;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 4vw;
        margin: 5%
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 2.75vw;
    }
    
    #skills li {
        height: 8vh;
    }

    .social_media {
        font-size: 50px !important;
    }
}

@media only screen and (min-width: 900px) 
and (orientation: portrait) 
and (hover: none) {
    #skills > img, #about_me > img {
      display: none;
    }

    #about_me, #skills {
        min-height: unset;
    }

    #welcome_screen  {
        max-height: unset;
    }

    #menu div:hover {
        background-color: var(--theme_color_transparent);
        transition: unset;
    }
    #my_name {
        font-size: 10vw;
        margin-top: 12.5%;
    }

    #page_title {
        font-size: 9vw;
    }

    #menu {
        font-size: 4.5vw;
        width: 50%;
        margin-top: 15%;
    }

    .section_p {
        margin: 0 5% 0 5%;
        color: var(--color_text);
    }
  
    #hobbies {
        margin: 0;
        text-align: center;
        color: var(--color_text);
    }
  
    h3 {
        font-size: 4vw;
        margin: 5%
    }
  
    #faq_list p, #faq_list h2, 
    #hobbies, .section_p  {
        font-size: 2.75vw;
    }

    #skills li {
        height: 8vh;
    }

    .social_media {
        font-size: 55px !important;
    }

    #menu div {
        height: 60px;
        line-height: 60px
    }
    
    .social_media {
        font-size: 60px !important;
    }
}


