/* Variables */
:root {
    --border: 2px solid #444;
    --color_text: #444;
    --color_titles: black;
    --max-width: 1920px;
    --max-height: 1080px;
    --min_section_height: 450px;
    --otaku: Otaku, Arial, Helvetica, sans-serif;
    --section-font-size: 20px;
    --section_height: 50vh;
    --section_image_margin: 2.5%;
    --theme_color_solid: #FF9912;
    --theme_color_transparent: #FF991250;
    --text_font: Arial, Helvetica, sans-serif;
    --welcome_screen_min_width: 300px;   
}