* {
	box-sizing: border-box;
 }

body {
    background-image: url('Images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}