/* This file contains the base design of the page 
Designed with Full HD resolution
*/

/* Variables */
:root {
    --border: 2px solid #444;
    --otaku: Otaku;
    --theme_color_solid: #FF9912;
    --theme_color_transparent: #FF991250;
    --color_titles: black;
    --color_text: #444;
}

/* Box sizing and scroll behavior properties*/
* {
	box-sizing: border-box;
    scroll-behavior: smooth;
 }

/* Make body fill the entire screen */
body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  max-height: 1080px;
  min-width: 300px;
  min-height: 500px;

}

/* Welcomer screen properties:
What the user sees as soon as he lands on the page */
#welcome_screen {
  height: 100vh;
  background-image: url('images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  overflow:auto;
  border-bottom: var(--border);
}

/* Properties for my name that shows at the top of the page */
#my_name {
    font-family: var(--otaku);
    font-size: 75px;
    margin: auto;
    margin-top: 2.5%;
    text-align: center;
    color: var(--color_titles);
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Properties for the page title that shows at the top of the page,
under my name */
#page_title {
    font-family: var(--otaku);
    font-size: 60px;
    margin: auto;
    text-align: center;
    color: var(--color_titles);
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Properties for the menu and its options */
#menu {
    font-family: var(--otaku);
    width: 30%;
    margin: auto;
    margin-top: 6%;
    font-size: 40px;
    text-align: center;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

#menu div {
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 3px solid var(--theme_color_solid);
    margin-bottom: 10%;
    background-color:  var(--theme_color_transparent);
}

/* Properties for the when the user hovers 
the mouse on one of the menu's options */
#menu div:hover {
    background-color: var(--theme_color_solid);
    transition: 0.5s
}

/* Menu links' properties.
No blue hyperlink text. 
No line under the text.
No purple color when the user clicks on the links. */
a, a:visited {
  text-decoration: none;
  color: black;
  outline: 0;
}

/* Properties for the "About me" and "Skills" section. */
#about_me, #skills {
    height: 50vh;
    background-color: white;
    border-bottom: var(--border);
}

#about_me img {
    float: left;
    height: 50vh;
    margin-right: 2.5%;
    clear: both;
    border-bottom: var(--border);
    border-right: var(--border);
}

#skills img {
    float: right;
    height: 50vh;
    margin-left: 2.5%;
    clear: both;
    border-bottom: var(--border);
    border-left: var(--border);
}

/* Properties for the "FAQ" section. */
#faq {
    height: 100vh;
    background-color: white;
    margin: auto;
}

/* Styling of hobbies list */
#hobbies {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw /*20px*/;
    text-indent: 5%;
    color: var(--color_text);
}

/* Section title and text properties*/
h3 {
    text-align: center;
    font-family: var(--otaku);
    font-size: 3vw /*50px*/;
    margin-top: 0;
    margin-bottom: 1%;
    padding-top: 1%;
}

.section_p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw /*20px*/;
    margin-top: 0;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 27.5%;
    color: var(--color_text);
}

/* Back to top button properties */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    position: fixed;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--theme_color_solid);
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Accordion design and properties. 
Code adapted from: https://alvarotrigo.com/blog/css-accordion/ */
#faq_list {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

section.faq_list {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq_list ul {
  text-align: left;
}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#faq_list .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq_list h2 {
  color: var(--theme_color_solid);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw /*24px*/;
  line-height: 24px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: .2s;
}

#faq_list p {
  color: var(--color_text);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw /*18px*/;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq_list ul {
  list-style: none;
  perspective: 900;
  padding: 0 0 20px 0px;
  margin: 0;
}

#faq_list ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  border: 2px solid var(--theme_color_solid);
  border-radius: 5px;
}

#faq_list ul li + li {
  margin-top: 15px;
}

#faq_list ul li:last-of-type {
  padding-bottom: 0;
}

#faq_list ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}

#faq_list ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: var(--theme_color_solid);
  width: 3px;
  height: 9px;
}

#faq_list ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

#faq_list ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

#faq_list ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}

#faq_list ul li input[type=checkbox]:checked ~ h2 {
  color: var(--color_text);
}

#faq_list ul li input[type=checkbox]:checked ~ p {
  max-height: 0;
  transition: .3s;
  opacity: 0;
}

#faq_list ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq_list ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

/* Linkedin link properties */
#LinkedIn {
  color: var(--theme_color_solid);
  font-weight: bold;
}

/* Skills images properties, using flex */
#skills ul {
  list-style-type: none; 
  display: flex;
  flex-wrap: wrap;
  gap: calc(15px + 10%) ;
  margin-top: 3.5%;
}

#skills li {
  height: 10vh;
  flex-grow: 1;
}

#skills li:last-child {
  flex-grow: 9;
}

#skills > ul img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
  border: none;
  border-radius: 5px;
}

/* Fade in animation
 Used when user lands on the page */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Location of Otaku font */
@font-face {
    font-family: Otaku;
    src: url('fonts/Otaku Rant italbold.ttf');
}

/* Subtitle contour */
@supports (-webkit-text-stroke: 1px var(--color_titles)) {
    #page_title {
        -webkit-text-stroke: 1px var(--color_titles);
        -webkit-text-fill-color: var(--theme_color_solid);
    }
}

/* Change menu options background color 
if device is touchscreen and has small size */
@media (hover: none) and (max-width: 500px) {
  #menu div {
    border: 3px solid var(--theme_color_solid);
    background-color: var(--theme_color_solid);
  }
}