@font-face {
    font-family: Otaku;
    src: url('fonts/Otaku Rant italbold.ttf');
  }

@supports (-webkit-text-stroke: 1px black) {
    #page_title {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: rgb(152,204,163);
    }
}

* {
	box-sizing: border-box;
    scroll-behavior: smooth;
 }

 #welcome_screen {
    height: 100vh;
	width: 100vw;
    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    overflow:auto;
}

#my_name {
    font-family: Otaku;
    font-size: 75px;
    margin: auto;
    margin-top: 2.5%;
    text-align: center;
    color: black;
}

#page_title {
    font-family: Otaku;
    font-size: 60px;
    margin: auto;
    text-align: center;
    color: black;
}

#menu {
    font-family: Otaku;
    width: 30%;
    margin: auto;
    margin-top: 3.5%;
    font-size: 40px;
    text-align: center;

}

#menu div {
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 3px solid rgb(178,101,89);
    margin-bottom: 10%;
    background-color: rgba(178,101,89,0.5);
}

#menu div:last-of-type {
    margin-bottom: 0;
}

#menu div:hover {
    background-color: rgba(178,101,89,1);
    transition: 0.5s
}

a, a:visited {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

img {
    float: left;
    height: 50vh;
    margin-right: 2.5%;
    clear: both;
}

#about_me {
    height: 50vh;
	width: 100vw;
    background-color: white;
    position:relative;
    overflow:auto;
}

#my_career, #faq {
    height: 100vh;
	width: 100vw;
    background-color: aqua;
    position:relative;
    overflow:auto;
}

#hobbies {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-indent: 5%;
}

h3 {
    text-align: center;
    font-family: Otaku;
    font-size: 50px;
    margin-top: 1%;
    margin-bottom: 2.5%;

}

.section_p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 27.5%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;

}

.accordion:first-of-type {
    border-radius: 5px 5px 0 0;
}

.accordion:last-of-type {
    border-radius: 0 0 5px 5px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    width: 70%;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.accordion:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "-"; /* Unicode character for "minus" sign (-) */
    transition: all 0.4s ease;
  }
